
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: "Roboto", sans-serif;
}
body{
    background-color: whitesmoke;
    color: black;
    position: relative;
}

.container {
    margin-left: 40px;
    margin-right: 40px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: 18px;
    position: fixed;
    width: 93vw;
    z-index: 1;
    
}
.navbar {
    background-color: whitesmoke;
    border-bottom: 1px solid grey;
    width: 100%;
    height: 80px;
    position: fixed;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.Bio ul {
    display: flex;

}
.Bio ul li {
    margin-right: 50px;
    text-decoration: none;
    list-style: none;
}
.btn1 {
    background-color: #414141;
    color: whitesmoke;
    width: 130px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.intro {
    padding-top: 120px;
    /* color: whitesmoke; */
    max-width: 800px;
    height: 90vh;
}
.intro h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}
.intro .bio {
    font-size: 23px;
    font-weight: 250;
}
.projects {
    /* color: whitesmoke; */
    margin-top: 100px;
}
.projects img {
    max-width: 100%;
    height: 80vh;
    padding-right: 30px;
    border-radius: 20px;
    border-top-left-radius: 20px;
}
.recent-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 100vh;
}
.recent-work > div {
    max-width: 50%;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80vh;
    font-size: 25px;

}
.description h2 {
    font-size: 36px;
    padding-bottom: 50px;
}
.btn {
    color: whitesmoke;
    background-color: #414141;
    font-size: 15px;
    border: 1px solid #414141;
    margin-right: 19px;
    padding: 7px;
    border-radius: 20px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.button-h {
    margin-top: 50px;
}
.habitual-img > img{
    width: 300px;
    height: 500px;
}
.habitual-img2 > img{
    width: 600px;
    height: 350px;
}
.d-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 430px;
    font-size: 17px;
}
.source-btn , .download-btn {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.source-btn{
    border: 2px solid #414141;
    border-radius: 10px;
    color: #414141;
}
.download-btn{
    border: 1px solid #414141;
    border-radius: 10px;
    background-color: #414141;
    color: whitesmoke;
}
.other-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 80vh;
    margin-bottom: 50px;
}
.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;

}
.card {
    background-color: #f0f0f0;
    width: 325px;
    height: 350px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

.cards img{
    width: 100%;
    height: 200px;
    padding: 20px;
}
.img-info {
    padding: 16px;
    background-color: white;
    height: 100px;
    padding-bottom: 140px;
}
.img-info h2 {
    font-size: 28px;
    margin-bottom: 8px;
}
.img-info p {
    line-height: 1.3;
    color: #666;
    font-size: 15px;
}
.experience {
    height: 85vh;
    overflow-x: scroll;
    padding-bottom: 30px;
    margin-bottom: 100px;

}
.experience::-webkit-scrollbar {
    display: none;
}
.line-class {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.time-alone {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 30px;

}
.line {
    position: absolute;
    width: 2px;
    height: 1900px;
    background-color: black;
    top: -10px;
    left: 450px;

}
.circle {
    border: 1px solid black;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 430px;
    padding: 20px;
    background-color: white;
}
.inner-circle {
       border: 1px solid black;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: black;
}
.events {
    display: flex;
    flex-direction: column;
    width: 450px;
}
.events >div {
    margin-top: 100px;
}
.events h4 {
    font-size: 22px;
}
.events p:nth-child(2){
    padding-bottom: 20px;
}
.event-time {
    position: relative;
    top: 70px;
    padding-left: 50px;
}
